* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.alert {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 40%;
  transform: translateY(100%);
  animation: slideIn 0.8s forwards, slideOut 0.5s forwards 2.5s;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
}
to {
  transform: translateY(0);
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
